/* HEADER */
header
{
	position: fixed;
	display: block;
	float: left;
	background-color: white;
	/*background-color: rgba(255,255,255, 0.03);*/
	width: 100%;
	height: 100px;
	box-shadow: 0 1px 10px #ddd;
	-webkit-box-shadow: 0 1px 10px blur #ddd;
	-moz-box-shadow: 0 1px 10px blur #ddd;
	box-shadow: 0 1px 10px blur #ddd;
	z-index: 11;
	transition: all 0.5s ease;
	&.slim
	{
		height: 50px;
		background-color: #2a2730;
		box-shadow: 0 1px 10px #222;
		-webkit-box-shadow: 0 1px 10px blur #222;
		-moz-box-shadow: 0 1px 10px blur #222;
		box-shadow: 0 1px 10px blur #222;
		.container-header
		{
			height: 50px;
			.box-logo
			{
				height: 50px;
				.nome-logo
				{
					display: none;
				}
				.imagem-logo
				{
					display: block;
				}
			}
			.box-btn-menu
			{
				height: 50px;
				.btn-menu-mobile
				{
					max-width: 30px;
					margin: 12px auto;
				}
			}
		}
	}
	.container-header
	{
		.column(12);
		height: 100px;
		transition: all 0.5s ease;
		.box-logo
		{
			.column(9);
			height: 100px;
			transition: all 0.5s ease;
			.nome-logo
			{
				position: relative;
				display: block;
				width: 210px;
				text-align: center;
				float: none;
				margin: 35px auto;
				color: #77c124;
				font-size: 1.5em;
				font-weight: 100;
				transition: all 0.5s ease;
			}
			.imagem-logo
			{
				position: relative;
				display: none;
				float: none;
				max-height: 80px;
				margin: 15px auto;
				width: 130px;
				transition: all 0.5s ease;
			}
		}
		.box-btn-menu
		{
			.column(3);
			.btn-menu-mobile
			{
				position: relative;
			    display: block;
			    float: none;
			    max-width: 50px;
			    margin: 25px auto;
				transition: all 0.5s ease;
			}
		}
	}
	.container-menu
	{
		.menu
		{
			/*background-color: rgba(255,255,255, 0.3);*/
			padding: 0;
		    margin: 0;
		    position: relative;
		    display: none;
		    float: left;
		    width: 100%;
		    text-align: center;
		    background-color: white;
		    color: #6f5499;
		    list-style-type: none;
			box-shadow: 0 1px 10px #ddd;
			z-index: 9;
		    .menu-item
		    {
		    	/*padding: 20px 0;*/
		    	a
		    	{
		    		padding: 20px 0;
		    		text-decoration: none;
		    		/*color: #6f5499;*/
					color: #77c124;
		    		font-size: 1.5em;
		    		position: relative;
		    		display: block;
		    	}
		    	.sub-menu
		    	{
		    		display: none;
		    	}
		    }
		}
	}
}

footer
{
	position: relative;
	display: block;
	float: left;
	background-color: #2a2730;
	width: 100%;
	height: 125px;
	bottom:0;
	font-size: 0.75em;
	color: #77c124;
	.container-desenvolvido
	{
		.column(12);
		text-align: center;
	}
	.container-contato
	{
		.column(12);
		text-align: center;
	}
	.container-icons
	{
		.column(12);
		.component
		{
			text-align: center;
			.icon
			{
				display: inline-block;
				vertical-align: top;
				overflow: hidden;
				margin: 5px;
				width: 40px;
				height: 40px;
				font-size: 0;
				text-indent: -9999px;
			}
			.icon-cube
			{
				position: relative;
				-webkit-perspective: 800px;
				perspective: 800px;
				overflow: visible;
				&::before
				{
					z-index: 2;
					background-color: #595959;
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: url("imgs/icons/icons5.png");
					background-image: url("imgs/icons/icons5.svg"), none;
					content: "";
					-webkit-transition: all 0.3s;
					transition: all 0.3s;
					background-size: 230px;
				}
				&::after
				{
					z-index: 1;
					opacity: 0;
					-webkit-transform: translateY(22px) rotateX(-90deg);
					transform: translateY(22px) rotateX(-90deg);
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background: url("imgs/icons/icons5.png");
					background-image: url("imgs/icons/icons5.svg"), none;
					content: "";
					-webkit-transition: all 0.3s;
					transition: all 0.3s;
					background-size: 230px;
				}
				&:hover
				{
					&::before
					{
						opacity: 0;
						-webkit-transform: translateY(-22px) rotateX(90deg);
						transform: translateY(-22px) rotateX(90deg);
					}
					&::after
					{
						opacity: 1;
						-webkit-transform: rotateX(0);
						transform: rotateX(0);
					}
				}
				&.facebook
				{
					&::before
					{
						background-position: -2px -2px;
					}
					&::after
					{
						background-position: -2px -2px;
						background-color: #3b5998;
					}
				}
				&.twitter
				{
					&::before
					{
						background-position: -49px -2px;
					}
					&::after
					{
						background-position: -49px -2px;
						background-color: #4099ff;
					}
				}
				&.github
				{
					&::before
					{
						background-position: -371px -2px;
					}
					&::after
					{
						background-position: -371px -2px;
						/*background-color: #333333;*/
						background-color: #77c124;
					}
				}
			}
		}
	}
}

section
{
	.conteudo-posts
	{
		position: relative;
		display: block;
		float: left;
		margin-top: 100px;
		overflow-x: hidden;
		.flexslider-custom
		{
			display: none !important;
			margin-bottom: 0 !important;
		}
	}
}

.dashicons-id
{
	background: url('imgs/icons/sprite.png') no-repeat -105px -168px;
	width: 16px;
	height: 11px;
	position: absolute;
	display: block;
	left: 10%;
	top: 27px;
}

.dashicons-testimonial
{
	background: url('imgs/icons/sprite.png') no-repeat -136px -135px;
	width: 16px;
	height: 17px;
	position: absolute;
	display: block;
	left: 10%;
	top: 27px;
}

.dashicons-portfolio
{
	background: url('imgs/icons/sprite.png') no-repeat -8px -167px;
	width: 16px;
	height: 17px;
	position: absolute;
	display: block;
	left: 10%;
	top: 24px;
}

.pagina-principal
{
	position: relative;
	display: block;
	float: none;
	margin: 0 auto 30px;
	width: 90%;
	h2
	{
		position: relative;
		display: block;
		float: left;
		width: 100%;
		text-align: center;
		font-size: 2em;
		color: #555;
		margin-bottom: 5px;
	}
	h3
	{
		color: #64C4D2;
		position: relative;
		display: block;
		float: left;
		text-align: center;
		width: 100%;
		margin-top: 0;
	}
	.container-texto-perfil
	{
		.column(12);
		p
		{
			font-size: 1.3em;
			color: #555;
			line-height: 1.4;
		}
	}
	.container-img-perfil
	{
		.column(12);
		img
		{
			position: relative;
			display: block;
			float: none;
			margin: 0 auto;
			border-radius: 10px;
		}
	}
}