/* HEADER */
header
{
	.container-header
	{
		.column(3);
		.box-logo
		{
			.column(12);
			img
			{
			}
		}
		.box-btn-menu
		{
			.column(0);
			.btn-menu-mobile
			{
				display: none;
			}
		}
	}
	.container-menu
	{
		.column(9);
		.menu
		{
			.column(8);
			display: block;
		    margin: 0 auto;
		    float: none;
		    .menu-item{
		    	/*.column(4);
		    	padding: 41px 0;*/
		    	// Botão do menu sem submenu.
		    	a
		    	{
		    		.column(4);
		    		padding: 41px 0;
		    		font-size: 1em;
		    		color: #777;
		    		letter-spacing: 0.1em;
					-webkit-transition: all .5s;
					-moz-transition: all .5s;
					-ms-transition: all .5s;
					-o-transition: all .5s;
					transition: all .5s;
		    		&:hover
		    		{
		    			color: #6f5499;
		    			text-decoration: underline;
		    			background-color: #EEE;
		    		}
		    	}
		    	// Botão do menu com submenu.
		    	&.menu-item-has-children
		    	{
		    		/*padding-top: 31px;*/
		    		a
		    		{
		    			padding-top: 31px;
		    			&::after
			    		{
			    			content: "";
						    display: inline-block;
						    position: relative;
						    top: 7px;
						    width: 25px;
						    height: 25px;
						    margin-left: 5px;
						    background-image: url(imgs/icons/arrow-down-slim.png);
						    background-repeat: no-repeat;
						    background-size: cover;
						    opacity: .4;
			    		}
			    		&:hover
			    		{
			    			&::after
			    			{
			    				opacity: .7;
			    			}
			    		}
		    		}
		    		&:hover
		    		{
		    			.sub-menu
		    			{
		    				display: block;
		    			}
		    		}
		    	}
		    	.sub-menu
		    	{
					display: none;
					position: absolute;
					float: none;
					width: 200px;
					padding: 0;
					margin: 0;
					background-color: white;
					border-radius: 10px;
					box-shadow: 0px 0px 7px black;
					top: 80px;
    				right: 200px;
    				list-style-type: none;
					.menu-item
					{
						/*width: 100%;
						padding: 15px 0;*/
						a
						{
							width: 100%;
							padding: 15px 0;
							margin: 0;
							&::after
				    		{
				    			display: none;
				    		}
			    			
						}
						&:nth-child(1)
		    			{
		    				a
		    				{
		    					&:hover
			    				{
			    					border-top-left-radius: 10px;
			    					border-top-right-radius: 10px;
			    				}
		    				}
		    				
		    			}
		    			&:nth-child(2)
		    			{
		    				a 
		    				{
		    					&:hover
			    				{
			    					border-bottom-left-radius: 10px;
			    					border-bottom-right-radius: 10px;
			    				}
		    				}
		    			}
					}
		    	}
		    }
		}
	}
}